
 <!-- Botton Nav ---->
 <footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h6 class="navbar-text">&copy; Copyright 2023. All rights reserved.</h6>
    </div>
  </nav>
</footer>   

   <!--script part-->
   <script src="/jquery/dist/jquery.min.js"></script>
   <script src="/bootstrap/dist/js//bootstrap.min.js"></script>
   <script src="/Scripts/app.js"></script>
</body>
</html>


