<%- include ('../partials/header') %>


<!--Main Content-->
<main class="container">
    <div class="container-fluid bg-light p-5">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Welcome to <%= title %></p>
      <a href="../../Assets/resume.pdf" target="_blank" class="resume">resume</a>
      <hr class="my-4">
      <div >
        <h1>Yeyul Choi</h1>        
      <img src="../../Assets/images/yeyulphoto.png" alt="Profile Image" class="yeyulimg" width="200" height="100">
      <p class="aboutme">Hello, my name is Yeyul. I am a passionate web developer with expertise in HTML, CSS, and JavaScript.</p>
      <p class="aboutme">I have been designing and building websites for the past five years. My goal is to create visually appealing and user-friendly websites that provide a great user experience.</p>
      <p class="aboutme">In addition to web development, I also have experience in graphic design and digital marketing. I enjoy working on projects that challenge me and allow me to expand my skill set.</p>
      <p class="aboutme">When I'm not coding or designing, you can find me exploring new hiking trails or playing the guitar.</p>
      </div>
      
      
    </div>
  </main>


<%- include ('../partials/footer') %>