<%- include ('../partials/header') %>


 <!--Main Content-->
 <main class="container">
    <div class="container-fluid bg-light p-5">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Welcome to <%= title %></p>
      <hr class="my-4">
  
         
      
      <h1>Yeyul's 3 projects</h1>
     <div class='parent'>
        <div class='child'><img src="../../Assets/images/calculator.png" alt="Image 1" height="300">
            </div>
        <div class='child'>A C# calculator using WinForms is a desktop application with buttons for numeric input and arithmetic operations. 
            Users can enter numbers and perform calculations, with the results displayed on the interface.</div>
      </div>
      
      <div class='parent'>
        <div class='child'><img src="../../Assets/images/grade.png" alt="Image 1" height="300">
            </div>
        <div class='child'>A grade calculator using C# WinForms is an application that calculates and displays grades based on inputted scores or percentages.</div>
      </div>

      <div class='parent'>
        <div class='child'><img src="../../Assets/images/login.png" alt="Image 1" height="300">
            </div>
        <div class='child'>A login program using C# WinForms allows users to enter credentials and gain access to a system or application.</div>
      </div>
    </div>
  </main>












<%- include ('../partials/footer') %>